
.MainText{
   text-align: center;
   background-color: rgb(224, 224, 224);
   font-size: 1.5rem;
   font-size: clamp(0.5rem, 1.5vw, 3rem);
   padding-top: 1%;
   padding-bottom: 1%;
   }
   .NavbarMid{
    width: 30em;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    font-size: 1.2rem;
    font-size: clamp(0.5rem, 1.2vw, 3rem);
   }

 .fontSizeNav{
  font-size: 1.2rem;
  font-size: clamp(0.5rem, 1.2vw, 3rem);
 }
 
.fontSize{
  
  font-size: 0.7em;
  text-align: center;
  color: rgb(143, 143, 143);
  margin-top: 0.5em;

}
   .button-container {
    padding: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
  }


 .BarSize{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 8%;
   width: 100%;
   
 }
 

 .filter{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
   width: 40%;
   

 }
 .f1{
padding: 3.3%;
font-size: 1em;
font-size: clamp(0.6em 1vw 1.2em);
margin-right: 1%;
border-radius: 10px;
background: transparent;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
 }

.f2{
  padding: 2%;
  margin-left: 1%;
 background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

 .overflow-scrolling {
  display: flex;
  flex-direction: row;
 align-items: flex-start;
 justify-content: flex-start;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width:calc(100% - 40%);
  gap: 50px;
  overflow-x: scroll;/* Hide the scrollbar */

}
.navImg {
 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 
  
  }
  .navImg img{
  width: 40px;
   
    }

.destiDisplay{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
gap: 1%;


}
.destImg {
margin-top: 1%;
width: calc(100% / 4 - 1%);
object-fit: contain;

}
.destImg img{
width: 100%;
height: 45vh;
margin-bottom: 5%;
border-radius: 5%;
object-fit: cover;
}
.textStyle{
  
  text-align: center;
  font-size: 1rem;
  font-size: clamp(0.6rem 1vh 1.5rem);
  
}
.navBarSize{
  height: 125px;
}
.scroll-buttons{
background: transparent;
border-radius: 1em;
color: rgb(138, 138, 138);
border-color: rgb(0, 0, 0);

}


.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b4b4b4;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.home-page {
  position: relative;
  /* Add any other styling for the home page */
}

.show-map-button {
  position: fixed;
  bottom: 10%;
  right: 47%;
  padding: 15px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.show-map-button:hover {
  background-color: #2980b9;
}

.searchBar{
width: 80%;
margin-top: 2%;
border: 1px solid #f0f0f0;
border-radius: 20px;
align-items: center;
}










.show-on-small-screen {
  display: none;
}
@media (max-width: 999px) {
  .hide-on-small-screen {
    display: none;
  }
  .overflow-scrolling {
    display: flex;
    flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width:90%;
    gap: 50px;
    overflow-x: scroll;/* Hide the scrollbar */
  
  }
}
.nvaBarItemShow{
  display: none;
}
@media (max-width: 999px) {
.nvaBarItemShow{
display: block;
}
.BarSize{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: 100%;
  
}


}
